<h1><%= @restaurant.name %> • <%= @restaurant.category %></h1>

<h4>Details:</h4>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<h4>Reviews</h4>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %> | <%= review.rating %></p>
<% end %>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>

<%= link_to "Back", root_path  %>
